{
  "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true,
    "node": true
  },
  "rules": {
      "semi": "none", //Look up ways to isolate and ignore a specific file error
      "indent": ["warn", 2],
      "no-console": "warn",
      "no-debugger": "warn",
      "no-unused-vars": "warn"
    }
  }
