body {
  background-color: #efefef;
  background-image: url(../img/white_carbonfiber.jpg);
  /* font-family: Roboto; */
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes shake {
  to {
    transform: rotate(45deg);
  }
}


h1 {
  position: relative;
  text-align: center;
  text-decoration: underline;
  font-family: Impact;
  color: black;
  font-size: 80px;
  padding-top: 30px;
  padding-bottom: 35px;
  background-color:rgba(255, 0, 0, 0.397);
}

#dnaDude {
  animation: shake 1s infinite linear;
  animation-direction: alternate;
  float: left;
  width: 100px;
  height: 100px;
  position: relative;
  left: 68px;
  top: 30px;
  z-index: 1;
}

#c19 {
  animation: rotation 6s infinite linear;
  float: right;
  width: 100px;
  height: 100px;
  position: relative;
  right: 65px;
  top: 37px;
  z-index: 1;
}

#mapBorder {
  border-style: ridge;
  border-color: rgba(0, 0, 0, 0.493);
  border-width: 1px;
}

.card {
  background-color: #f8f8f8bb;
  border-style: inset;
  margin: 15px;
  margin-top: 20px;
  padding-bottom: 10px;
  border-style: ridge;
  border-color: rgba(0, 0, 0, 0.479);
}

#datastyles1 {
  padding-left: 25px;
  padding-top: 20px;
  text-decoration: underline;
}

#datastyles2 {
  padding-left: 25px;
  text-decoration: underline;
}

#graphstyle {
  margin-top: 15px;
}

#left, #right {
  /* background-color:rgba(255, 0, 0, 0.384); */
  background-image: linear-gradient(to bottom, #de0000, #ee3a3a, #d84659, #d0aed3, #d3d3d3);
  opacity: .4;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 40px;
		}
		#left { left: 0; }
    #right { right: 0; }
    
#map {
  height: 500px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
