body {
  background-color: #efefef;
  background-image: url(../img/white_carbonfiber.jpg);
  /* font-family: Roboto; */
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-family: Impact;
  color: black;
  font-size: 80px;
  padding-top: 30px;
  padding-bottom: 35px;
  background-color:rgba(255, 0, 0, 0.384);
}

.card {
  background-color: #f8f8f8bb;
  border-style: inset;
  margin: 15px;
  padding-bottom: 10px;
}

#datastyles1 {
  padding-left: 25px;
  padding-top: 20px;
  text-decoration: underline;
}

#datastyles2 {
  padding-left: 25px;
  text-decoration: underline;
}

#left, #right {
  /* background-color:rgba(255, 0, 0, 0.384); */
  background-image: linear-gradient(to bottom, #de0000, #f2426c, #e57db1, #d0aed3, #d3d3d3);
  opacity: .4;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 40px;
		}
		#left { left: 0; }
    #right { right: 0; }
    
#map {
  height: 500px;
  margin-top: 40px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
